@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Italianno&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #9ef01a;
  font-family: "Hi Melody", sans-serif;
}

.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 100px;
  width: 100px;
}

.todo_text {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.todo_text p {
  font-family: "Italianno", cursive;
  font-size: 98px;
}
.todo_text h1 {
  font-size: 130px;
}
.todo_text #create {
  font-size: 80px;
  width: 200px;
}

.login_form {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_form form {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.login_form form p {
  font-size: 20px;
}
.login_form form input {
  width: 80%;
  height: 67px;
  padding: 10px;
  margin: 15px;
  border: 1px solid #007200;
  border-radius: 20px;
  font-size: 30px;
}

#login_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login_button input {
  width: 150px;
  background-color: #70e000;
}

.search_box {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_box input {
  height: 48px;
  width: 60%;
  border: 1px solid #007200;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #ccff33;
  padding: 10px;
  font-size: 25px;
}
.search_box button {
  background-color: #ccff33;
  height: 48px;
  width: 48px;
  border: 1px solid #007200;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_box button svg {
  background-color: #ccff33;
}

.body {
  width: 100%;
  height: 740px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes_menu {
  padding: 5px;
  width: 98%;
  height: 99%;
  background: #007200;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
}
.notes_menu .note {
  border-radius: 10px;
  width: 98%;
  height: 140px;
  background: rgba(6, 177, 6, 0.4823529412);
  color: #ccff33;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.notes_menu .note .text {
  width: 100%;
  height: 100%;
  border: 1px solid #ccff33;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  padding: 5px;
  background: none;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: start;
  margin-right: 5px;
}
.notes_menu .note .button_box {
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.notes_menu .note .button_box .butt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50PX;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  border: none;
}
.notes_menu .note .button_box .edit {
  background: rgba(123, 246, 75, 0.61);
}
.notes_menu .note .button_box .edit svg {
  background: none;
}
.notes_menu .note .button_box .delete {
  background: rgba(254, 0, 4, 0.2);
}
.notes_menu .note .button_box .delete svg {
  background: none;
}

.butt {
  transition: 0.1s all ease;
}

.butt:active {
  scale: 110%;
}

.matte {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4745098039);
  backdrop-filter: blur(12px);
  z-index: 2;
  transition: 0.1s all ease-in;
}
.matte .text_box {
  width: 80%;
  height: 80%;
  background: none;
}
.matte .text_box input {
  width: 100%;
  height: 50px;
  background: #014101;
  border: 1px solid #ccff33;
  border-radius: 20px;
  font-size: 26px;
  color: #ccff33;
  padding: 10px;
}
.matte .text_box textarea {
  width: 100%;
  height: 86%;
  background: #014101;
  border: 1px solid #ccff33;
  border-radius: 20px;
  font-size: 26px;
  color: #ccff33;
  padding: 10px;
}
.matte .text_box .buttons {
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}
.matte .text_box .buttons button {
  transition: 0.1s all ease;
  width: 40%;
  height: 60px;
  border: 1px solid #007200;
  border-radius: 20px;
  background: green;
  font-size: 30px;
  color: #ccff33;
}
.matte .text_box .buttons button:active {
  scale: 105%;
}

.addnote {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  transition: 0.1s all ease;
}
.addnote svg {
  border-radius: 50%;
}

.addnote:active {
  scale: 105%;
}

/*# sourceMappingURL=main.css.map */
